@font-face {
    font-family: DinBold;
    src: url("../fonts/DinBold.otf") format("opentype");
}

@font-face {
    font-family: DinMedium;
    src: url("../fonts/DinMedium.otf") format("opentype");
}

@font-face {
    font-family: DinLight;
    src: url("../fonts/DinLight.otf") format("opentype");
}

@font-face {
    font-family: DinRegular;
    src: url("../fonts/DinRegular.otf") format("opentype");
}
